# run terraform init/apply with this file inert (backend.tf.example)
# grab output of the bucket created in terraform apply
# and enter here
# then rename to backend.tf
# and run terraform init --force-copy

terraform {
  backend "gcs" {
    bucket = "UPDATE_ME_WITH_OUTPUT_OF_INITIAL_INIT"
    prefix = "cicd"
  }
}